body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: navy;
    color: #fff;
}

#main_wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #336699;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#banner_section {
    position: relative;
    height: 140px;
}

#banner_image {
    margin-top: 15px;
    height: 140px;
    border-radius: 5px;
    background: url('tryshelf.jpg') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 10px;
}

#banner_description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0px 0px 5px 5px;
    height: 33px;
    background-color: rgba(24, 24, 24, 0.8);
    color: white;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    padding-left: 10px;
}


section {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

article, aside {
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}

article {
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    width: 625px;
    margin-right: 15px;
    color: black;
    font-size: large;
    line-height: 1.5; 
    padding: 20px 0; 
}

.cat_icon {
    vertical-align: middle;
    margin-right: 4px;
}

article p {
    font-size: 0.8em;
    margin-bottom: 15px; 
}

aside {
    position: relative;
    width: 300px;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: black;
    font-size: 0.9em;
}
article img {
    width: 50px; 
    height: auto; 
}

.floated-image {
    float: right;
    margin: 25px;
}

#google_maps img {
    width: 300px; 
    height: 200px; 
}

/* Footer Styles */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #336699;
    color: white;
    padding: 10px;
    font-size: 0.8em;
    margin-top: auto;
    bottom: 0;
}


#readers a{
    color: white;
    text-decoration: none; 
}

#featured_books img#featured_book_image {
    width: 50px; 
    height: auto; 
    margin-right: 10px; 

}



#fantasy1, #fantasy2 {
    width: 50px; 
    height: 50px; 
}

#action1, #action2 {
    width: 50px; 
    height: 50px; 
}



@media (max-width: 768px) {
    section {
        flex-direction: column;
    }

    article, aside {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
}
